<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vaibhav.android.checklist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChecklistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogActivity" />
        </activity>
        <activity android:name=".ItemEditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChecklistActivity" />
        </activity>
        <activity
            android:name=".ChecklistEditorActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChecklistActivity" />
        </activity>

        <provider
            android:name=".data.ChecklistProvider"
            android:authorities="com.vaibhav.android.checklist"
            android:exported="false" />
    </application>

</manifest>